<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bonjour les BTS SIO 2</title>
</head>
<body>
    <h1>Bonjour chers élèves du BTS SIO SLAM 2, nous sommes aujourd'hui le {{ "now"|date("d/m/Y") }} et il est {{ "now"|date("H:i:s") }}, je m'appelle {{ prenom }} {{ nom }}</h1>
    <img src="{{ asset('public/assets/images/') ~ path | defaultImage }}" alt="defaultImage">
</body>
</html>
