{# templates/Admin/baseAdmin.html.twig #}

<html>
    <head>
        <title>Espace de gestion des commandes</title>
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    </head>

    <body>
        <div class="menu text-center">
            <div class="wrapper">
               {# <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('admin_management') }}">Administration du site</a></li>
                    <li><a href="{{ path('manage_categories') }}">Gestion des plats</a></li>
                    <li><a href="{{ path('manage_alacarte') }}">A la carte</a></li>
                    <li><a href="{{ path('manage_order') }}">Gestion des commandes</a></li>
                    <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                </ul>#}
            </div>
        </div>
    </body>
</html>
